<% articles.reverse().forEach(element => { %>
    <% users.forEach(value => { %>
      <% if (String(element.user) === String(value._id)) {%>
        <div class="h-100 p-5 bg-dark text-light border rounded-3 mx-3 my-4">
          <strong class="d-inline-block mb-2 text-danger"><a href="/profile/<%= value._id %> " class="text-danger"><%= value.username %></a></strong>
          <%- include('./dayago.ejs') %> 
        <div class="mb-1 text-muted"><%= daysago(element.updatedAt) %></div>
        <h2><%= element.title %> </h2>
        <p><%= element.description %></p>
      </div>
      <% } %> 
 
    <% }); %>  
  <% }); %> 