<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<% articles.reverse().forEach(element => { %>
    <% users.forEach(value => { %>
      <% if (String(element.user) === String(value._id)) {%>
        <div class="h-100 p-5 bg-dark text-light border rounded-3 mx-3 my-4">
          <strong class="d-inline-block mb-2 text-danger"><a href="/profile/<%= value._id %> " class="text-danger"><%= value.username %></a></strong>
          <%- include('./dayago.ejs') %> 
        <div class="mb-1 text-muted"><%= daysago(element.updatedAt) %></div>
        <h2><%= element.title %> </h2>
        <p><%= element.description %></p>
        <div class="d-flex justify-content-between container my-2">
          <div>
              <a href="#"><i class="bi bi-heart" style="font-size: 1.5rem; color: rgb(255, 88, 88);"></i></a>
          </div>
          <div>
            <a href="#"><i class="bi bi-chat-dots" style="font-size: 1.5rem; color: rgb(104, 62, 255);"></i></a>
          </div>
          <div>
            <a href="#"><i class="bi bi-share-fill" style="font-size: 1.5rem; color: rgb(107, 255, 87);"></i></a>
          </div>
          
        </div>
      </div>
      <% } %> 
 
    <% }); %>  
  <% }); %> 